.ui-collapsible-heading {

}

.collapse-content {
  display: none;
}

#playlistItems, #resultItems {
  padding-left: 0;
  list-style: none;
}

#suggestionsItems {
  padding: 15px;
}

.ui-icon-plus-green {
  background-image: url(images/icon-plus-green.png);
  background-position: 0;
}

.ui-icon-minus-red {
  background-image: url(images/icon-minus-red.png);
  background-position: 0;
}

#resultItems li {

}
