#test .a {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 30px;
}
#test .b {
  position: absolute;
  right: 10px;
  margin-top: -22px;
}
.list {
  padding: 0;
}
.list li {
  list-style-type: none;
}
.list li h2 {
  margin: 0;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  color: #222222;
  text-shadow: 0 1px 0 #FFFFFF;
  border: 1px solid #CCCCCC;
  border-top: 0;
  background: linear-gradient(#ffffff, #f1f1f1) repeat scroll 0 0 #eeeeee;
  white-space: nowrap;
}
.list li h2 .collapser {
  position: absolute;
  margin: 6px;
  width: 18px;
  height: 18px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  background-color: #666;
  background-image: url(images/icons-18-white.png);
  background-repeat: no-repeat;
  /*
				-moz-border-radius: 9px;
				-webkit-border-radius: 9px;
				border-radius: 9px;
				*/

  -webkit-border-top-right-radius: 9px;
  -moz-border-radius-topright: 9px;
  border-top-right-radius: 9px;
  -webkit-border-top-left-radius: 9px;
  -moz-border-radius-topleft: 9px;
  border-top-left-radius: 9px;
  -webkit-border-bottom-right-radius: 9px;
  -moz-border-radius-bottomright: 9px;
  border-bottom-right-radius: 9px;
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-radius-bottomleft: 9px;
  border-bottom-left-radius: 9px;
}
.list li h2 .track {
  display: block;
  padding: 0 56px 0 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list li h2 .thumbup {
  position: absolute;
  width: 22px;
  height: 22px;
  margin-top: -26px;
  right: 54px;
  background-image: url(images/thumbs_up.png);
}
.list li h2 .thumbup.liked {
  position: absolute;
  width: 22px;
  height: 22px;
  margin-top: -26px;
  right: 54px;
  background-image: url(images/thumbs_up_clicked.png);
}
.list li h2 .thumbdown.disliked {
  position: absolute;
  width: 22px;
  height: 22px;
  margin-top: -26px;
  right: 24px;
  background-image: url(images/thumbs_down_clicked.png);
}
.list li h2 .thumbdown {
  position: absolute;
  width: 22px;
  height: 22px;
  margin-top: -26px;
  right: 24px;
  background-image: url(images/thumbs_down.png);
}
.list li h2 .addTrack {
  position: absolute;
  margin: 6px;
  width: 18px;
  height: 18px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  background-color: #666;
  background-image: url(images/icons-18-white.png);
  background-repeat: no-repeat;
  /*
				-moz-border-radius: 9px;
				-webkit-border-radius: 9px;
				border-radius: 9px;
				*/

  -webkit-border-top-right-radius: 9px;
  -moz-border-radius-topright: 9px;
  border-top-right-radius: 9px;
  -webkit-border-top-left-radius: 9px;
  -moz-border-radius-topleft: 9px;
  border-top-left-radius: 9px;
  -webkit-border-bottom-right-radius: 9px;
  -moz-border-radius-bottomright: 9px;
  border-bottom-right-radius: 9px;
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-radius-bottomleft: 9px;
  border-bottom-left-radius: 9px;
  background-position: 0 50%;
  margin-top: -24px;
  right: 16px;
}
.list li h2 .trackAdded {
  position: absolute;
  margin: 6px;
  width: 18px;
  height: 18px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  background-color: #666;
  background-image: url(images/icons-18-white.png);
  background-repeat: no-repeat;
  /*
				-moz-border-radius: 9px;
				-webkit-border-radius: 9px;
				border-radius: 9px;
				*/

  -webkit-border-top-right-radius: 9px;
  -moz-border-radius-topright: 9px;
  border-top-right-radius: 9px;
  -webkit-border-top-left-radius: 9px;
  -moz-border-radius-topleft: 9px;
  border-top-left-radius: 9px;
  -webkit-border-bottom-right-radius: 9px;
  -moz-border-radius-bottomright: 9px;
  border-bottom-right-radius: 9px;
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-radius-bottomleft: 9px;
  border-bottom-left-radius: 9px;
  background-position: -252px 50%;
  margin-top: -24px;
  right: 16px;
  -moz-box-shadow: inset 0px 0px 3px #387bbe, 0px 0px 9px #387bbe;
  -webkit-box-shadow: inset 0px 0px 3px #387bbe, 0px 0px 9px #387bbe;
  box-shadow: inset 0px 0px 3px #387bbe, 0px 0px 9px #387bbe;
}
.list li.open h2 .collapser {
  background-position: -216px 50%;
}
.list li.open .info {
  display: block;
}
.list li.closed h2 .collapser {
  background-position: -108px 50%;
}
.list li.closed .info {
  display: none;
}
.list li .info {
  border: 1px solid #999999;
  border-top: 0;
  border-bottom-color: #CCCCCC;
}
.list li.new h2 {
  -moz-box-shadow: inset 0px 0px 3px #387bbe, 0px 0px 9px #387bbe;
  -webkit-box-shadow: inset 0px 0px 3px #387bbe, 0px 0px 9px #387bbe;
  box-shadow: inset 0px 0px 3px #387bbe, 0px 0px 9px #387bbe;
  /*
			-moz-box-shadow: inset 0px 0px 3px #387bbe, 0px 0px 9px #387bbe;
			-webkit-box-shadow: inset 0px 0px 3px #387bbe, 0px 0px 9px #387bbe;
			box-shadow: inset 0px 0px 3px #387bbe, 0px 0px 9px #387bbe;
			*/

}
.list li:first-child h2 {
  border-top: 1px solid #CCCCCC;
  /*
		-moz-border-radius-topright: .6em; 
		-webkit-border-top-right-radius: .6em;
		border-top-right-radius: .6em;
		-moz-border-radius-topleft: .6em; 
		-webkit-border-top-left-radius: .6em;
		border-top-left-radius: .6em;
		*/

  -webkit-border-top-right-radius: 9px;
  -moz-border-radius-topright: 9px;
  border-top-right-radius: 9px;
  -webkit-border-top-left-radius: 9px;
  -moz-border-radius-topleft: 9px;
  border-top-left-radius: 9px;
}
.list li:last-child.closed h2 {
  /* 
		-moz-border-radius-bottomright: .6em; 
		-webkit-border-bottom-right-radius: .6em;
		border-bottom-right-radius: .6em;
		-moz-border-radius-bottomleft: .6em; 
		-webkit-border-bottom-left-radius: .6em;
		border-bottom-left-radius: .6em;
		*/

  -webkit-border-bottom-right-radius: 9px;
  -moz-border-radius-bottomright: 9px;
  border-bottom-right-radius: 9px;
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-radius-bottomleft: 9px;
  border-bottom-left-radius: 9px;
}
.list li:last-child .info {
  /*
		-moz-border-radius-bottomright: .6em; 
		-webkit-border-bottom-right-radius: .6em;
		border-bottom-right-radius: .6em;
		-moz-border-radius-bottomleft: .6em; 
		-webkit-border-bottom-left-radius: .6em;
		border-bottom-left-radius: .6em;
		*/

  -webkit-border-bottom-right-radius: 9px;
  -moz-border-radius-bottomright: 9px;
  border-bottom-right-radius: 9px;
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-radius-bottomleft: 9px;
  border-bottom-left-radius: 9px;
}
ul#playlistItems li:first-child h2 {
  -moz-box-shadow: inset 0px 0px 3px #f4c63f, 0px 0px 9px #f4c63f;
  -webkit-box-shadow: inset 0px 0px 3px #f4c63f, 0px 0px 9px #f4c63f;
  box-shadow: inset 0px 0px 3px #f4c63f, 0px 0px 9px #f4c63f;
}
